extends ../layout/layout
block variables 
    - var title = "Đăng nhập"
block content 
    form(action="" id="loginForm" method="post" enctype="application/x-www-form-urlencoded")
        .form-row 
            .form-group 
                label(for="email") Email 
                input(type="email" id="email" name="email" class="form-control" placeholder="Email" required)
        .form-row 
            .form-group 
                label(for="password") Mật khẩu
                input(type="password" id="password" name="password" class="form-control" placeholder="Password" required) 
        .form-row 
            .form-group 
                input(type="checkbox" id="remember_me" class="form-check-input")
                label(for="remember_me") Ghi nhớ 
        .form-row 
            .form-group 
                button(type="button" id="btnLogin" class="btn btn-info") Đăng nhập
